<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-warning">
                    <span class="material-icons">person</span>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Usuários</strong></p>
                <h3 class="card-title"><%= countUsuarios %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-info">info</i>
                    <a href="/usuarios">Veja detalhes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-rose">
                    <span class="material-icons">shopping_cart</span>

                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Departamentos</strong></p>
                <h3 class="card-title"><%= countDepartamentos %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-info">info</i>
                    <a href="/departamentos">Veja detalhes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-success">
                    <span class="material-icons">
                        attach_money
                    </span>

                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Centro de Custos</strong></p>
                <h3 class="card-title"><%= countCentroCustos %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-info">info</i>
                    <a href="/centroCustos">Veja detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/formUsuario') %> 
